body{
  font-size: 10px;
  font-family: 'Lato', sans-serif;
  font-style:normal;
  font-weight:400;
  line-height: 2rem;
}
h1,h2,h3{
  font-family:'Playfair Display', serif;
  font-style:normal;
  line-height:1.3;
  font-weight:400;
}
h1{
  font-size: 3.5rem;
  /* OLD 3.5rem; */
}

h2{
font-size: 2.3rem;
/* OLD SIZE 2.3rem; */
}

h3{
font-size: 1.5rem;
/* OLD SIZE 1.5rem; */
margin-bottom: 25px;
}
h4{
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 1.4;
font-size: 22px;
/* OLD 22px; */
color: #000000;
}

/* iPhone SE SIZE: */
@media screen and (max-width: 320px) {
h1{
  font-size: 2.2rem;
  font-weight: 700;
}
h2{

}
h3{

}
h4{
  font-size: 1.6rem;
}
}


p{
  font-size:1.5rem;
  font-weight:400;
}
b,strong{
  font-weight:700;
}

ol {
  list-style-type: decimal;
}

li{
  line-height:1.4;
  margin-bottom:1rem;
}

img {
  max-width:100%;
  height:auto;
}

a {
  text-decoration:none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  /* text-decoration: none; */
  /* background: #0093E9; */
}

header img {
  max-width: 40px;
}

nav {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap:20px;
}

.thumbsdown {
    list-style-image: url('../images/red_thumbsdown.svg');
    list-style-position: outside;
    margin-left: 1.5rem;
}

.thumbsup {
    list-style-image: url('../images/green_thumbsup.svg');
    list-style-position: outside;
    margin-left: 1.5rem;
}

.right {
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between
    /* float: right; */
}
.one-twenty-margin{
  padding-right: 10.6%;
  float:right;
}

.marginauto{
  margin:auto;
}

.max-width{
    max-width: 65%;
    margin:auto;
}

.min-width{
    max-width: 85%;
    margin:auto;
    display:block;
}
.tiny-width{
  max-width:65%;
  margin:auto;
}
.seventy-width{
  max-width: 70%;
  margin:auto;
}

.fifty-five-width{
  max-width: 55%;
  margin:auto;
  display:block;
}

.height{
  line-height:155px;
}

/* .topnav{
  text-decoration: none;
} */

.lpadding{
  padding-left:15%;
}


.rpadding{
  padding-right:15%
}

strong {
  font-weight: bold;
}

.height-two-hundred{
  height:200px;
  line-height: 200px;
}

.flex{
  display: flex;
       /* width: 50%; */
       /* height: 200px;  */
       margin: auto;
       /* border-radius: 10px;  */
       /* border: 3px dashed #1c87c9;  */
}

.verticalcenter{
  margin:auto;
  text-align:center;
  display: flex;
}



.venn-wrapper {
  max-width: 80%;
    display: grid;
    grid-template-columns: 4fr 3fr 4fr;
    grid-template-rows: 1fr;
    margin: auto;
    /* text-align: center; */
    /* max-width: 500px; */
}

.venn-left{
  background-color: #E6D0A1;
  /* background-color: rgba(255, 0, 0, 0.7); */
  grid-column: 1/ span 2;
  grid-row: 1;
  border-radius: 45px;
}

.venn-middle{
  /* font-size: 1.2rem; */
  grid-column: 2;
  grid-row:1;
  z-index: 2;
  padding-left:1.5rem;
  padding-right:1.5rem;
  padding-top:3rem;
  padding-bottom:3rem;
  margin:auto;
}

.venn-tleft{
  grid-column:1/span 1;
  margin:0 auto;
  grid-row:1;
  padding-left:3rem;
  padding-top:3rem;
  padding-bottom:3rem;
  padding-right:2rem;
}

.venn-tright{
  grid-column:3/span 3;
  margin:0 auto;
  grid-row:1;
  padding-right:3rem;
  padding-top:3rem;
  padding-bottom:3rem;
  padding-left:2rem;
}
.venn-right{
  /* background-color: #E3CCA1; */
 background-color: hsla(39, 54%, 60%, 0.75);
 /* background-color: rgba(0, 0, 255, 0.7); */
 grid-column: 2/ span 3;
 grid-row: 1;
 border-radius: 45px;
}

.before-after{
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows:1fr 8fr; */
}
.problem-analysis{
  grid-column: span 2;
  max-height:100px;
  text-align:center;
  margin: auto;
}
.before{
  /* grid-column: 1; */
  /* grid-row: 1; */
  background-color: #E6D0A1;
  padding-left: 10%;
  padding-right: 10%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

}

.after{
  /* grid-column: 1; */
  /* grid-row: 2; */
  background-color: #F5EEE0;
  padding-left: 10%;
  padding-right: 10%;
  border-top-right-radius:25px;
  border-bottom-right-radius: 25px;
}
.span-before-after{
  grid-column: 1/span 2;
  grid-row:1;
  margin:auto;
}



.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.footer-icon{
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  /* grid-template-columns: 120px 9fr 7fr 2fr 120px; */
}

.ralign{
  text-align: right;
}

.email{
  grid-column-start:2;
  grid-column-end:2;
}

.github{
  grid-column-start:3;
  grid-column-end:3;
}

.linkedin{
  grid-column-start:4;
  grid-column-end:4;
}

.intro{
  /* background-color: #E6D0A1; */
  padding-top: 10.6%;
  padding-left: 10.6%;
  padding-right: 10.6%;
}

.gold{
  background-color: #E6D0A1;
  background-clip: border-box;
}
.darkgold{
  background-color: #E9C183;
  background-clip: border-box;
}

.lightgold{
  background-color: #EEE0C7;
  background-clip: border-box;
}

.barelythere{
  background-color:#FEF9F3;
  background-clip: border-box;
}
.beige{
  background-color: #EBE2D3;
  background-clip: border-box;
}

.photogration{
  background-color: #D3C4B1;
  padding-left: 10.6%;
  padding-right: 10.6%;
}

.ptext{

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 30px;
}

.contact{
  background-color: #EBE2D3;
  padding: 10.6%
}

.cta{
text-decoration:none;
color:black;
background-color: #DBA72E;
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 600;
line-height: 1.1;
font-size: 24px;
text-align: center;
margin: 30px  auto;
padding:1rem 2rem;
/* display:block; */
max-width:fit-content;
}

.double-cta{
  display:inline-block;

}

.imageformat{
  max-width: 100%;
  height: auto;
  min-width: 30%;
}

.textcenter{
  text-align: center;
}

/* //About specific things */

.tpadding-onehundred{
  padding-top:120px;
}
.tpadding-sixty{
  padding-top:60px;
}
.tpadding-thirty{
  padding-top:30px;
}
.tpadding-ten{
  padding-top:10px;
}
.bpadding-sixty{
  padding-bottom:60px;
}
.bpadding-thirty{
  padding-bottom:30px;
}

.lpadding-thirty{
  padding-left: 30px;
}
.lpadding-sixty{
  padding-left: 60px;
}
.rpadding-thirty{
  padding-right:30px;
}
.rpadding-sixty{
  padding-right:60px;
}
.bulletlist{
  padding-left:1.5%;
  list-style-type: circle;
   list-style-position: outside;
}
.venn-wrapper .bulletlist{
  list-style-type: none;
}

.bulletpoints{
  padding-left:3%;
  list-style-type: disc;
   list-style-position: outside;
}
/* .long-version{
  padding-left: 10.6%;
  padding-right: 10.6%;
} */

.standardpadding{
  padding-left: 10.6%;
  padding-right: 10.6%;
}


.line{
  border-bottom: 2px solid grey;
  max-width: 65%;
}

.quote{
font-family: 'Playfair Display',serif;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 32px;
max-width:85%;
text-align: left;
margin:auto;
color:#755330;
text-indent: -1rem;
}

.top-spacing{

  padding-bottom: 30px;

}

.bio-top{
  background-color: #E6D0A1;
  /* padding-top: 10.6%; */
  /* padding-left: 10.6%;
  padding-right: 20.6%; */
}
.clear{
  padding-left:0%;
  padding-right: 0%;
  padding-top: 0%;
}

.vector-format{
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 7%;
 padding-top:30px;
 padding-bottom: 30px;
}

/* TEST CSS */
/* Container holding the image and the text */
/* .container {
  position: relative;
  text-align: center;
  color: white;
} */

/* Bottom left text */
/* .bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
} */

/* Top left text */
/* .top-left {
  position: absolute;
  top: 8px;
  left: 16px;
} */

/* Top right text */
/* .top-right {
  position: absolute;
  top: 8px;
  right: 16px;
} */

/* Bottom right text */
/* .bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
} */

/* Centered text */
/* .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
/* END TEST CSS */

/* PHOTOGRATION */
.r-two-column{
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-column-gap: 30px; */
}
.two-column{
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-column-gap: 30px;
}

.problem-answer{
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-column-gap: 0px;
  position:relative;
}
.two-column-persona{
  display: grid;
  grid-template-columns: 30fr .15fr 30fr;
  grid-column-gap: 30px;

}

.arrow-text{
  position:relative;
  z-index:1;
}

.arrow{
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  /* z-index:1; */
}
.z-index{
  z-index:1;
}

.background-arrow{
  position:relative;;
  background-size:cover;
  background-repeat: no-repeat;
  grid-column:1/span 1;
  margin:0 auto;
  grid-row:1;
  padding-left:3rem;
  padding-top:3rem;
  padding-bottom:3rem;
  padding-right:2rem;
}

.blackbar{
  max-height: 600px;
  background-color: black;
  margin-top:100px;
}

.centerimage{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.two-photo-columns{
  display:grid;
  grid-template-columns: 2.3fr 1fr;
  grid-row: 1fr;
  grid-column-gap: 15px;
}

.uneven-two-column{
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 5px;
}
.two-columnsmall{
  display: grid;
 grid-template-columns: 1.5fr 5fr;
}
.grid-row-gap{
  grid-row-gap: 30px;
}

.three-column{
  display: grid;
 grid-template-columns: 3fr 3fr 3fr;
 grid-column-gap:30px;
}

.h5{
 font-family: 'Lato', sans-serif;
 font-style: normal;
 font-weight: normal;
 line-height: normal;
 font-size: 16px;
}
.solidbullets{
   list-style-type: disc;
   list-style-position: outside;
   padding-left: 3%;
}

.r-rectangle{
    border-radius: 15px;
    /* background: #73AD21; */
    padding: 20px;
    width: 90%;
    height: 100%;
    box-shadow: 1px 1px 4px .5px grey;
    /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */

}
